.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--page-scrollbar-width));
  height: 50px;
  padding: 15px;
  background-color: var(--header-bg);
  z-index: 100;

  .desktop_nav {
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: space-evenly;

      .links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .link {
          padding: 10px;
          gap: 10px;
          border-radius: 10px;
          transition: all 0.1s;

          * {
            color: var(--text-color);
          }

          &:hover {
            background-color: var(--input-bg);
          }

          &.active {
            background-color: var(--text-color);

            * {
              color: var(--background);
            }
          }
        }
      }

      .buttons {
        justify-self: flex-end;
        .posabs_btn {
          justify-self: flex-end;
        }
      }

    }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1000;

    .burger_btn {
      width: 100%;
      justify-content: flex-end;
      p {
        position: fixed;
        top: 20px;
        z-index: 999;
        color: white;
        font-size: 20px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        padding: 10px;
        background: black;
        border-radius: 10px;
      }
    }
  }

  .mobile_nav {
    width: 110vw;
    height: 110vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    right: -110%;
    transform: translateX(50%) translateY(-10%);
    transition: right 0.5s;

    &.open {
      right: 50%;
    }

    .posabs_btn {
      filter: invert(1);
      gap: 10px;
    }

    .link {
      display: flex;
      gap: 10px;
      font-size: 15px;
      background-color: var(--text-color);

      * {
        color: var(--background);
      }
    }
  }

}
