.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--page-scrollbar-width));
  height: 50px;
  padding: 15px;
  background-color: var(--header-bg);
  z-index: 100;

  nav {
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;

    .link {
      padding: 10px;
      gap: 8px;
      border-radius: 10px;
      transition: all 0.1s;

      * {
        color: var(--text-color);
      }

      &:hover {
        background-color: var(--input-bg);
      }

      &.active {
        background-color: var(--text-color);

        * {
          color: var(--background);
        }
      }
    }

    .posabs_btn {
      position: absolute;
      margin: auto 0;
      right: 15px;
    }
  }
}
