.container {
  font-family: Inter, sans-serif;

  .welcomeRow {
    display: flex;
    flex-direction: column;
    padding: 150px;
    background: var(--dark-blue);
    width: 100%;
    color: white;
    gap: 20px;

    h2 {
      font-size: 4cap;
      font-weight: 800;
    }
    .searchBar {
      display: flex;
      gap: 10px;

      input {
        background: #F4F4F4;
        min-width: 40%;
        height: 40px;
        padding: 12px;
        border-radius: 12.6px;
        color: black;
        font-size: 12px;

        &::placeholder {
          color: black;
        }
      }

      button {
        background: #B9CEFB;
        padding: 0 30px;
        border-radius: 12.6px;
        color: black;
      }
    }
  }
}